@import 'leds.css'
@import '../node_modules/react-notifications/lib/notifications.css'

.white-glyph {
  color: white;
};

.white-glyph:hover {
  color: lightgreen;
}
.player-line{
  background-color: #f5f5f5;
}

.player-content{
  z-index:9;
  position:relative;
  width: 100%
}

.progress {
  display: block;
  height: 100%;
  width: 0;
  position: absolute;
  z-index: 0
  top: 0;
  left: 0;
  background: lightblue;
};

.player-tools {
  float: right;
};

.brand-image {
  position: relative;
  top: -15px;
};

#calmushead {
  position: absolute;
  left: 50%;
  margin-left: -155px;
  margin-top: 50px;
};