@import 'leds.css'
@import '../node_modules/react-notifications/lib/notifications.css'

a .white-glyph {
  color: lightgrey
}
a:active .white-glyph {
  color: lightgrey
}

a .white-glyph :hoover {
  color: black
}